.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

.section {
  background-color: #f8f9fb;
}

.container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.grid {
  -ms-grid-columns: 0.25fr 1fr;
  grid-template-columns: 0.25fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.div-block {
  padding: 15px;
  border: 1px solid #000;
  border-radius: 6px;
}

.div-block-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 1em;
}

.text-block {
  display: inline-block;
  color: #5d61f8;
}

.category-div {
  display: inline-block;
  margin-top: 1em;
  padding: 6px 12px;
  border-radius: 20px;
  background-color: #faf7fe;
}

.title-main {
  font-size: 20px;
}

.title-main-div {
  margin-top: 1em;
}

.div-block-3 {
  margin-left: 0.5em;
}

.text-block-2 {
  font-size: 20px;
}

.div-block-4 {
  margin-top: 1em;
}

@media screen and (max-width: 991px) {
  .grid {
    grid-auto-flow: row;
  }
  .date-time {
    font-size: 14px;
  }
}

@media screen and (max-width: 767px) {
  .grid {
    grid-auto-flow: row;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
  }
  .container-2 {
    padding-right: 16px;
    padding-left: 16px;
  }
}

@media screen and (max-width: 479px) {
  .grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}

#w-node-d45780136a20-8b10e213 {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-column-align: center;
  justify-self: center;
}

@media screen and (max-width: 991px) {
  #w-node-d45780136a20-8b10e213 {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
  }
}

@media screen and (max-width: 479px) {
  #w-node-d45780136a20-8b10e213 {
    -ms-grid-row: span 2;
    grid-row-start: span 2;
    -ms-grid-row-span: 2;
    grid-row-end: span 2;
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
    -ms-grid-column-align: center;
    justify-self: center;
  }
}